# Python virtual environment
venv/

# Environment variables file
.env

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Windows system files
Thumbs.db

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# LlamaIndex cache
Llama-Cache/

# Directory of resumes
data/

# Prompts that contain sensitive information
Resume-Creator/src/prompts.py

# Output text documents
Resume-Creator/results/

# Miscellaneous
how-to.md